
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    padding: 0;
    margin: 0;
}

.body {
    background: url("../src/res/background.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 200px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox {
    position: absolute;
    top: 259px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#chooseCharacter {
    position: absolute;
    top: 319px;
    right: 140px;
    font-size: 18px;
    font-family: 'New Tegomin', serif;
}
#parameters {
    position: absolute;
    top: 349px;
    right: 140px;
    font-size: 18px;
    font-family: 'New Tegomin', serif;
}


/*this is the design of the grid for the snake*/
#board {
    position:absolute;
    top: 200px;
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}
#green {
    height: 30px;
    width: 30px;
    background-color: green;
}
#red {
    height: 30px;
    width: 30px;
    background-color: red;
}
#yellow {
    height: 30px;
    width: 30px;
    background-color: yellow;
}
#grey {
    height: 30px;
    width: 30px;
    background-color: grey;
}
#blue {
    height: 30px;
    width: 30px;
    background-color: blue;
}
#purple {
    height: 30px;
    width: 30px;
    background-color: purple;
}

/*design of the head of the snake*/
.headConstantin {
    background-image: url('./assets/constantin.png');
    background-size: contain;
    transform: scale(1.02);
    border-radius: 9px;
}

.headTrump {
    background-image: url('./assets/trump.png');
    background-size: contain;
    transform: scale(1.02);
    border-radius: 9px;
}

.headDalailama {
    background-image: url('./assets/dalailama.png');
    background-size: contain;
    transform: scale(1.02);
    border-radius: 9px;
}

/*design of the body of the snake*/
.greenSnake {
    background-color: green;
    border: .25vmin solid white;
    border-radius: 12px;
}

.redSnake {
    background-color: red;
    border: .25vmin solid white;
    border-radius: 12px;
}

.yellowSnake {
    background-color: yellow;
    border: .25vmin solid white;
    border-radius: 12px;
}

.greySnake {
    background-color: grey;
    border: .25vmin solid white;
    border-radius: 12px;
}

.blueSnake {
    background-color: blue;
    border: .25vmin solid white;
    border-radius: 12px;
}
.purpleSnake {
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

/*deisign of the "apples" (food) for the snake*/
.foodTrump {
    background-image: url('./assets/moneyBag.jpg');
    background-size: contain;
    border-radius: 8px;
}

.foodDalailama {
    background-image: url('./assets/peace.png');
    background-size: contain;
    border-radius: 8px;
}

.foodConstantin {
    background-image: url('./assets/football.png');
    background-size: contain;
    border-radius: 8px;
}


.hold {
    border: solid 5px #ccc;
}

.trump {
    background-image: url('./assets/trump.png');
    background-size: contain;
    height: 60px;
    width: 60px;
}

.dalailama {
    background-image: url('./assets/dalailama.png');
    background-size: contain;
    height: 60px;
    width: 60px;
}
.constantin {
    background-image: url('./assets/constantin.png');
    background-size: contain;
    height: 60px;
    width: 60px;
}

#show{
    height:60px;
    width:120px;
    position:relative;
    top:25px;
    left:25px;
    
}
#message {
    height: 60px;
    width: 120px;
    position: relative;
    top: 25px;
    left: 25px;
}

#namelbl {
    position: relative;
    top: 20px;
    left: 25px;
}
#nametxt {
    position: relative;
    top: 20px;
    left: 25px;
}

#lnamelbl {
    position: relative;
    top: 20px;
    left: 25px;
}

#lnametxt {
    position: relative;
    top: 20px;
    left: 25px;
}
#submitBut { 
    height:75px;
    width:150px;
    position: relative;
    top: 20px;
    left: 25px;
}




