
html{
	position: relative;
	min-height: 100%;
}

/*-------------------------------------------------------------------------------------------------------*/
/*Bdy Style*/
body {
	/*Margin for the all website*/
	margin: 0px;
	height: 100%;
}

/*-------------------------------------------------------------------------------------------------------*/
/*Footer Style*/

footer {
	background-color: #404040;
	position: absolute;
	width: 100%;
	line-height: 60px;
	bottom: 0px;
	margin-top: 250px;
}
#logo {
	text-align: center;
	margin: auto;
	display: flex;
	height: auto;
}

/*-------------------------------------------------------------------------------------------------------*/
/*General design*/


h1 {
	padding: 40px;
	padding-bottom: 0px;
	text-align: center;
	background-image: linear-gradient(#FFDEA6, #F5763F);
	color: white;
	border-bottom-width: 20px;
	border-bottom-color: #EE6743;
	border-bottom-style: solid;
	margin-bottom: 0px;
	margin: 0px;
}

main a {
	color: orangered;
}

main header p {
	border-top: solid 1px;
	color: gray;
	text-align: right;
}

main section {
	width: 75%;
	margin: 25px;
}

/*-------------------------------------------------------------------------------------------------------*/
/*NavBar*/

.topnav {
	overflow: hidden;
	background-color: #333;
}

	.topnav a {
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 10px 10px;
		padding: 14px 16px;
		text-decoration: none;
		font-weight: 700;
		font-size: 20px;
	}

		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

		.topnav a.active {
			background-color: white;
			color: orangered;
		}

	.topnav .icon {
		display: none;
	}

@media screen and (max-width: 600px) {
	.topnav a {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}

		.topnav.responsive .icon {
			position: center;
			right: 0;
			top: 0;
		}

		.topnav.responsive a {
			float: none;
			display: block;
			text-align: center;
		}
}

/*-------------------------------------------------------------------------------------------------------*/
/*Description Page*/


/*-------------------------------------------------------------------------------------------------------*/
/*Maquettes Page*/


/*-------------------------------------------------------------------------------------------------------*/
/*Mockups Page*/


/*-------------------------------------------------------------------------------------------------------*/
/*Description Page*/



/*aside*/

aside h3 {
	line-height: 40px;
	background-color: orangered;
	background-size: 300px 300px;
	color: white;
	text-align: left;
	padding: 0px 0px 0px 0px 0px;
	margin: 0px;
}

aside ul {
	display: table;
	list-style-type: none;
	text-align: left;
}

aside li {
	display: table;
	text-align: left;
	padding: 0px;
}

aside div {
	display: table;
	box-sizing: content-box;
	position: absolute;
	left: 80%;
	top: 30%;
	width: 18%;
	border: 3px solid;
	padding: 0px 0px 0px 0px;
	box-shadow: 5px 10px #888888;
}

#imgDesign {
	height: 100%;
	width: 100%;
    object-fit: contain;
}


.bigImage {
	margin: 50px;
	display: flex;
}

.mediumImage {
	height: 200px;
	width: 200px;
}
.smalImage {
    width: 100px;
	margin-bottom:50px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    display: flex;
	margin-bottom:100px;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    border-collapse: collapse;
    width: 95%;
}

	#customers td, #customers th {
		border: 1px solid #ddd;
		padding: 8px;
	}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

	#customers th {
		padding-top: 12px;
		padding-bottom: 12px;
		padding-right: 12px;
		text-align: center;
		background-color: rgb(140, 140, 140);
		color: white;
	}

table{
	margin:right: 50px;
}

.tete {
	height: 150px;
	width: 150px;
	border-radius: 15px;
	margin: 14px;
	background-color: white;
}
#cassis {
	background-image: url("\ressources\images\MockupFaceDalaiDesign.jpg");
	
}
#lama {
	background-image: url("ressources/images/sierre.jpg");
	background-size: 100% 100%;
	background-color: orange;
}
#trump {
	/*background: url("ressources/images/MockupFaceTrumpDesign.jpg");*/
	background-size: 100% 100%;
	background-color: orange;
}

.row-btn {
	display: inline-block;
}

#teteImage {
	max-width: 100%;
	max-height: 100%;
	display: block;
	border-radius: 15px;
}


/*Flux page*/

.sitemap {
	height: 500px;
	width: 1000px;
	margin: 14px;
}

#sitemapImage {
	max-width: 100%;
	max-height: 100%;
	display: block;
	border-radius: 15px;
}

.flux {
	height: 500px;
	width: 1000px;
	margin: 14px;
}