@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

/*Title Header Style*/
h1 {
	line-height: 150px;
	background-color: red;
	background-image: linear-gradient(to bottom, #ff0000, #ff4a3d, #ff7168, #ff9490, #f9b4b4);
	margin: 0px;
	color: white;
	text-align: center;
}


/*navigation bar configurations*/

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*dark grey background of the list*/
	background-color: #454545;
}
/*hamburger not displayed*/
header li img{
	opacity: 0;
}

/*to have a horizontal menu*/
header li {
	float: left;
}

/* display each tabs as a block, setup font size color and bold*/
header li a {
	display: block;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	
	color: white;

}

/* when you pass over an unactive object*/
header li a:hover:not(.active) {
	background-color: #555555;
	color: white;
}

/* when the block is the one which is active*/
header li.active a {
	background-color: white;
	color:orangered;	
}



/*Bdy Style*/
body {
	
	/*Margin for the all website*/
	margin: 0px;
}


/*Footer Style*/

footer {
	background-color: #404040;
	margin: 0px;
	position: absolute;
	width: 100%;
}

#logo {
	text-align: center;
	margin: auto;
	display: flex;
	height: auto;
}

	
		

/*paragraphes*/

main a{
	color: orangered;
}

main header p {
	border-top: solid 1px;
	color: gray;
	text-align: right;
}
main section{
	width: 75%
}

/*aside*/

aside h3 {
	line-height: 40px;
	background-color: orangered;
	background-size: 300px 300px;
	color: white;
	text-align: left;
	padding:0px 0px 0px 0px 0px;
}
aside ul{
	display:table;
	list-style-type: none;
	text-align:left;

}
aside li{
	display:table;
	text-align:left;
	padding: 0px ;
}
aside div {
	display: table;
	box-sizing: content-box;
	position: absolute;
	left: 80%;
	top: 30%;
	width: 18%;
	border: 3px solid;
	padding: 0px 0px 0px 0px;
	box-shadow: 5px 10px #888888;
}

		


